<app-header>
  <div class="grid-container">

    <div class="grid-left">
      <h1>Todays statistics:</h1>
      <div>
        <p>Emails: X Messages: X Vists: X</p>
      </div>
    </div>

    <div class="grid-right">
      <h1>Notifications</h1>
      <div *ngIf="notifications.length === 0">
        <div>No notifications</div>
      </div>
      <div class="button-group" *ngIf="notifications.length !== 0">
        <button *ngFor="let notif of notifications" (click)="deleteNotif(notif)">{{ notif.title }}</button>
      </div>
    </div>

    <div class="grid-bottom">
      <!--    <div>-->
      <!--      <div *ngFor="let activity of recentActivities$ | async">-->
      <!--        &lt;!&ndash; Placeholder for an image, if needed &ndash;&gt;-->
      <!--        <span>{{ activity.places.address.streetName }}</span>,-->
      <!--        <span>{{ activity.places.address.city }}</span>-->
      <!--      </div>-->
      <!--    </div>-->

      <h1>Recent Messages</h1>
      <!--    <div>-->
      <!--      <div *ngFor="let activity of recentActivities$ | async">-->
      <!--        &lt;!&ndash; img placeholder &ndash;&gt;-->
      <!--        {{activity.places.address.streetName}}-->
      <!--        {{activity.places.address.city}}-->
      <!--      </div>-->
      <!--    </div>-->
    </div>
  </div>
</app-header>
