<div mat-dialog-title class="dialog-title">
  <h2>Manage Sensitive Data</h2>
  <div class="buttons-area">

    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
    <button mat-raised-button class="add-button" (click)="triggerFileInput()">
      Add
    </button>

    <button
      mat-raised-button
      class="remove-button"
      (click)="submitDataDeletion()"
      *ngIf="isImageDeletionMode"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button
      mat-raised-button
      class="remove-button"
      (click)="imageDeleteButtonClick()"
      *ngIf="!isImageDeletionMode"
    >
      <span>Remove</span>
    </button>

    <button
      mat-raised-button
      class="remove-button"
      (click)="imageDeleteButtonClick()"
      *ngIf="isImageDeletionMode"
    >
      Cancel
    </button>

  </div>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="image-container">
    <app-image-details
      *ngFor="let image of pageableItems$ | async"
      [image]="image"
      [isImageDeletionMode]="isImageDeletionMode"
    />
  </div>

  <div class="pagination">
    <div>
      {{getCurrentPage()}} of {{getMaxPage()}}
    </div>
    <div>
      <button mat-icon-button (click)="previousPage()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button (click)="nextPage()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</mat-dialog-content>


