<app-user-header></app-user-header>

<div class="grid-container">
  <div class="grid-left">
    <h1>Supported methods</h1>
    <div>
      <button *ngFor="let method of methods$ | async">{{method.name}}</button>
      <button>+</button>
    </div>
  </div>
  <div class="grid-right">
    <h1>Notifications</h1>
    <button *ngFor="let notif of notifications$ | async">{{notif.title}}</button>
  </div>
  <div class="grid-bottom">
    <h1>Recent activites</h1>
    <div>
      <div *ngFor="let activity of recentActivities$ | async">
        <!-- img placeholder -->
        {{activity.places.address.streetName}}
        {{activity.places.address.city}}
      </div>
    </div>
  </div>
</div>
