<app-user-header></app-user-header>

<div class="grid-container">
  <div class="grid-left">
    <h1>Supported methods</h1>
    <div class="button-group">
      <button *ngFor="let method of methods$ | async">{{ method.name }}</button>
      <button>+</button>
    </div>
  </div>
  <div class="grid-right">
    <h1>Notifications</h1>
    <div class="button-group">
      <button *ngFor="let notif of notifications$ | async">{{ notif.title }}</button>
    </div>
  </div>
  <div class="grid-bottom">
    <h1>Recent activities</h1>
    <div>
      <div *ngFor="let activity of recentActivities$ | async">
        <!-- Placeholder for an image, if needed -->
        <span>{{ activity.places.address.streetName }}</span>,
        <span>{{ activity.places.address.city }}</span>
      </div>
    </div>
  </div>
</div>
