.custom-list {
  width: 100%;
}

.custom-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.item-content, .item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-content {
  flex-grow: 1;
}

.item-actions {
  flex-shrink: 0;
}

img {
  border-radius: 50%;
  object-fit: cover;
}


.search-dialog {
  width: 40%;
  height: 60vh;
  left: 10%;
  top: 15vh;
  position: absolute;
  background-color: white;
  border-color: #3A7734;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  z-index: 1000;
  padding: 10px;
  overflow-y: scroll;
}

.search-area {
  display: flex;
  justify-content: space-between;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
}

.image-list-item {
  margin: 5px;
  cursor: pointer;
  width: 100%;
}

.place-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.place-content {
  text-align: center;
  padding: 10px;
}

.place-content h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.place-content img {
  width: 100%;
  border-radius: 5px;
}
