<app-user-header>
  <div class="search-dialog">
    <div class="arrow-layout">
      <button mat-icon-button color="primary" (click)="triggerArrow()">
        <mat-icon *ngIf="arrowTriggered">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="!arrowTriggered">keyboard_arrow_up</mat-icon>
      </button>
    </div>
    <div class="search-area">
      <button mat-icon-button color="primary" (click)="openFilterDialog()">
        <mat-icon>filter_list</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label>Search {{getKmRange()}} km ....</mat-label>
        <input matInput [(ngModel)]="searchText" (keyup)="filterItems()">
      </mat-form-field>
    </div>

    <div class="image-list" fxLayout="row" fxLayoutWrap  *ngIf="arrowTriggered">
      <div *ngFor="let place of filteredItems" class="image-list-item" (click)="onPlaceClick(place.id!)">
        <div class="place-container">
          <div class="place-content">
            <div fxLayout="row">
              <h2 style="flex: 1">{{ place.placeName }}</h2>
              <img src="assets/marker-icon-2x.png" alt="" style="width: 30px"/>
            </div>
            <img [src]="place.image?.url || ''" alt="{{ place.placeName }}" class="main-image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-map></app-map>
</app-user-header>
