.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}

.map-container {
  width: 100%;
  overflow: hidden;
}

.mat-form-field {
  width: 100%;
}

.mat-nav-list {
  overflow-y: auto; /* Enables scrolling for the list */
  max-height: 300px; /* Set a max height for scrollable area */
}

.mat-nav-list img {
  border-radius: 50%;
  object-fit: cover;
}

.mat-list-icon {
  display: flex;
  flex-direction: row;
}

