<app-user-header>
  <div class="container d-flex flex-row align-items-start gap-2 w-100">
    <div style="flex-grow: 1; flex-basis: {{ratio}}%;">
      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label>Filter list...</mat-label>
        <input matInput [(ngModel)]="searchText" (keyup)="filterItems()">
      </mat-form-field>

      <mat-nav-list>
        <mat-list-item *ngFor="let item of filteredItems" style="height: 20vh">
          <img matListItemAvatar src="{{ item.url }}" alt="{{ item.title }}"
               style="width: 60px; height: 60px; margin-right: 15px;">
          <div class="mat-line">{{ item.title }}</div>
          <div class="mat-line small">{{ item.location }}</div>
          <div mat-line class="tags">
            <mat-chip-listbox>
              <mat-chip *ngFor="let tag of item.tags">{{ tag }}</mat-chip>
            </mat-chip-listbox>
          </div>

          <div mat-list-icon>
            <button mat-icon-button (click)="showLocation(item)">
              <mat-icon>place</mat-icon>
            </button>
            <button mat-icon-button (click)="addToFavorites(item)">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button (click)="reportItem(item)">
              <mat-icon>report</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <button mat-icon-button class="mx-2" (click)="toggleRatio()">
      <mat-icon>{{icon}}</mat-icon>
    </button>

    <div class="map-container flex-grow-1" style="flex-basis: {{100 - ratio}}%;">
      <app-map></app-map>
    </div>
  </div>
</app-user-header>
