.custom-list {
  width: 100%;
}

.custom-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.item-content, .item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-content {
  flex-grow: 1;
}

.item-actions {
  flex-shrink: 0;
}

img {
  border-radius: 50%;
  object-fit: cover;
}
