<h4 mat-dialog-title>Add device</h4>
<mat-dialog-content class="mat-typography">

  <mat-stepper #stepper [linear]="true">
    <mat-step [stepControl]="userForm" errorMessage="Data of product is required.">

      <form [formGroup]="userForm" class="flex-col">
        <ng-template matStepLabel>Device Overview</ng-template>

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <textarea matInput placeholder="Description" formControlName="description" required></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Monthly price</mat-label>
          <input matInput placeholder="Monthly Price" formControlName="monthlyPrice" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="imagesForm">
      <form [formGroup]="imagesForm" class="flex-col">
        <ng-template matStepLabel>Upload Images</ng-template>

        <div class="horizontal-scroll">
          <app-file-upload />
        </div>

        <div>
          <button mat-button matStepperNext (click)="submitForm()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p *ngIf="productAdded">You are now good to go! Product has been added</p>
      <div>
        <button mat-button [mat-dialog-close]="productAdded" cdkFocusInitial>Finish</button>
      </div>
    </mat-step>

  </mat-stepper>
</mat-dialog-content>
