<app-admin-header>
  <div class="user-search-container">
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>Search users</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Type to search...">
    </mat-form-field>

    <mat-card *ngFor="let user of displayedUsers | slice:(pageIndex*pageSize):((pageIndex+1)*pageSize)" class="user-card">
      <mat-card-content>
        <div class="user-details">
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Name:</strong> {{ user.name }} {{ user.surname }}</p>
          <p><strong>Role:</strong> {{ user.role }}</p>
        </div>
        <div class="actions">
          <button mat-button color="primary" (click)="onMoreInfo(user)">More Info</button>
          <button mat-button color="accent" (click)="removeUser(user)" *ngIf="user.role === 'user' && !isSearchAllActive">Remove User</button>
          <button mat-button color="accent" (click)="addUser(user)" *ngIf="isSearchAllActive">Add User</button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-paginator [length]="displayedUsers.length"
                   [pageSize]="pageSize"
                   (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>
</app-admin-header>
