<app-unlogged-header></app-unlogged-header>
<div class="login-section-grid">
  <div class="log-in-section container">
    <h1>Login to Your Account</h1>
    <h5>Login using social networks</h5>
    <div>
      <button>Facebook</button>
      <button>Gmail</button>
      <button>Linkedin</button>
    </div>
    <div class="horizontal-container">
      <div></div> or <div></div>
    </div>
    <div class="container">
      <input />
      <input />
      <button (click)="getToken()">sign in</button>
    </div>
  </div>
  <div class="register-section light-theme-bg container">
    <h1>Don't have account?</h1>
    <button>Register</button>
  </div>
</div>
<app-footer></app-footer>
