app-header {
  mat-grid-list {
    mat-grid-tile {
      app-latest-entrances {
        width: 95%;
        height: 100%;
      }
    }

    mat-grid-tile * {
      width: 90%;
      height: 100%
    }
  }
}
