.mat-mdc-menu-panel {
  max-height: 100px;
  overflow-y: auto;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}

.menu-item-content {
  transition: transform 0.3s ease;
}

.remove-button {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-right: -40px;
}

.menu-item:hover {
  padding-right: 40px;
}

.remove-button {
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  margin-right: -40px;
  color: white;
  background-color: red;
}

.remove-button mat-icon {
  color: inherit;
}

.menu-item:hover .remove-button {
  opacity: 1;
  margin-right: 0;
  background-color: red;
}

.menu-item {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  transition: padding-right 0.3s ease;
  border-bottom-width: 2px;
}

.menu-item:hover {
  padding-right: 40px;
}

.menu-item:hover .menu-item-content {
  transform: translateX(-40px);
}

