<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="select" *ngIf="isCheckboxSupported()">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let tableRow of tableTemplate" matColumnDef="{{tableRow.displayedColumn}}">
    <th mat-header-cell *matHeaderCellDef> {{tableRow.columnTitle}} </th>
    <td mat-cell *matCellDef="let element"> {{element[tableRow.displayedColumn]}} </td>
  </ng-container>

  <ng-container matColumnDef="additionalData">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-button (click)="addButtonAction()">Add</button>
      <button mat-button
              [disabled]="!isAnySelected()"
              *ngIf="isCheckboxSupported()"
              (click)="onRemove()">
          Remove
      </button>
    </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container matColumnDef="rowActionButtons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button *ngFor="let btn of rowActionButtons" mat-icon-button matTooltip="{{btn.tooltip}}" (click)="btn.action(element)">
        <mat-icon>{{btn.iconName}}</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
