* body {
  padding: 0;
  margin: 0;
  font-family: Arial, serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.light-theme-bg {
  background-color: #80B982;
}

.light-theme-header {
  color: #17251e;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.left-right-container {
  display: grid;
  grid-template-columns: 1fr 5% 1fr;
}

.left-right-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-element {
  align-items: flex-end;
  margin-right: 20%;
  margin-bottom: 80vh;
}

.right-element {
  align-items: flex-start;
  margin-left: 10%;
}

.left-element .right-element > img {
  width: 50%;
  height: 50%;
}

.vertical-line {
  width: 2px;
  background-color: #000;
  height: 100%;
  display: block;
}

.horizontal-line {
  width: 80%;
  padding: 0 10%;
  margin: 3vh 0;
  height: 2px;
  display: block;
}

.custom-button {
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.2s;
}

.custom-button:hover {
  padding: 5px;
  margin: 2.5px;
  font-size: 22px;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 1px #cecece;
  cursor: pointer;
}

.active-button {
  color: #3A7734;
  font-weight: bold;
}

.shadowed {
  opacity: 20%;
}

.normal {
  opacity: 100%;
}

.clickable:hover {
  cursor: pointer;
  opacity: 50%;
}

.product-details-desc-area {
  text-align: center;
}
