@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/purple-green.css';

* body {
  padding: 0;
  margin: 0;
  font-family: Arial, serif;
}

body {
  background-color: #F6F5F5;
}

.main-container {
  display: flex;
  min-height: 80vh;
  overflow: scroll;
}

.full-flex {
  flex: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.light-btn {
  background-color: white;
  color: #80B982;
  padding: 20px;
  border-radius: 10px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.light-theme-bg {
  background-color: #80B982;
}

.light-theme-text {
  color: #80B982;
}

.light-border-shadow {
  box-shadow: 1px 1px 1px #3A7734;
  border: 0;
}

.light-theme-header {
  color: #17251e;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.horizontal-container-2 {
  justify-content: space-evenly;
}

.full-height {
  height: 92vh;
}

.spacer {
  flex: 1 1 auto;
}

.flex-fill-2 {
  flex: 2;
}

.flex-fill-1 {
  flex: 1;
}
