<mat-toolbar class="mat-toolbar">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <app-logo-title class="navbar-logo"></app-logo-title>
  <span class="spacer"></span>

  <button mat-icon-button aria-label="Get help" (click)="navigate('/help')">
    <mat-icon>help_outline</mat-icon>
  </button>

  <button aria-label="Profile picture" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>face</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>edit profile</button>
    <button mat-menu-item>logout</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container autosize class="mat-sidenav-container full-height">
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <mat-nav-list>
      <a mat-list-item routerLink="/system">
        <mat-panel-title class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Home</span>
        </mat-panel-title>
      </a>
      <mat-accordion mat-list-item>
        <mat-expansion-panel style="box-shadow: none">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <mat-icon>accessibility</mat-icon>
              <span *ngIf="!isCollapsed">Administrative</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-list-item
            routerLink="/system/administrative/places"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>place</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Places</span>
          </a>

          <a
            mat-list-item
            routerLink="/system/administrative/admins"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>lock_open</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Admins</span>
          </a>

          <a
            mat-list-item
            routerLink="/system/administrative/products"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>fingerprint</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Products</span>
          </a>
          <a
            mat-list-item
            routerLink="/system/administrative/devices"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>perm_device_information</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Devices</span>
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion mat-list-item>
        <mat-expansion-panel style="box-shadow: none">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <mat-icon>group</mat-icon>
              <span *ngIf="!isCollapsed">Social</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-list-item
            routerLink="social/email"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>email</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Email</span>
          </a>

          <a
            mat-list-item
            routerLink="social/chat"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>lock_open</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Chat</span>
          </a>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion mat-list-item>
        <mat-expansion-panel style="box-shadow: none">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <mat-icon>settings</mat-icon>
              <span *ngIf="!isCollapsed">Settings</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-list-item
            routerLink="settings/restrictions"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>lock</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Restrictions</span>
          </a>

          <a
            mat-list-item
            routerLink="settings/admin"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>input</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Admin Settings</span>
          </a>

          <a
            mat-list-item
            routerLink="settings/credentials"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>extension</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Credentials</span>
          </a>

          <a
            mat-list-item
            routerLink="settings/logs"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>select_all</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">Logs</span>
          </a>

          <a
            mat-list-item
            routerLink="settings/alerts"
            class="sidenav__list-item list-sub-item"
            [routerLinkActive]="['active']"
          >
            <mat-icon>warning</mat-icon>
            <span style="padding-top: 11px;" *ngIf="!isCollapsed">System Alerts</span>
          </a>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

