.pricing-container {
  height: 80vh;
}

.pricing-card {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.option-check {
  display: block;
  margin: 10px 0;
}

.option-check {
  display: block;
  margin: 15px 0;
}

.chart-container {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}

