<app-header></app-header>
<div class="place-container">
  <h2>{{ place.placeName }}</h2>
  <p><strong>Email:</strong> {{ place.emailPlace }}</p>
  <p><strong>Address:</strong> {{ place.address.streetName }}, {{ place.address.city }}, {{ place.address.postalCode }}</p>

  <h3>Admins:</h3>
  <div class="users-list">
    <div *ngFor="let userPl of place.authorizedUsers">
      <div *ngIf="userPl.assignmentRole == 'ADMIN'" class="user-details">{{ userPl.user.email }}</div>
    </div>
  </div>
</div>
