<app-header></app-header>
<div class="grid-container">
  <div class="grid-left">
    <h1>Total entrances</h1>
    <div>
      <p></p>
    </div>
  </div>
  <div class="grid-right">
    <h1>Notifications</h1>
    <button>notif 1</button>
    <button>notif 2</button>
<!--    <button *ngFor="let notif of notifications$ | async">{{notif.title}}</button>-->
  </div>
  <div class="grid-bottom">
    <h1>Recent activites</h1>
    <div>
<!--      <div *ngFor="let activity of recentActivities$ | async">-->
<!--        &lt;!&ndash; img placeholder &ndash;&gt;-->
<!--        {{activity.places.address.streetName}}-->
<!--        {{activity.places.address.city}}-->
<!--      </div>-->
      <div>jamroz mateusz</div>
      <div>pijany andzej</div>
    </div>
  </div>
</div>
