h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}

.mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
  height: 10vh;
}

.mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav {
  padding-top: 10vh;
}

.entry {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 5%;
}

.mat-sidenav-content {
  height: 90vh;
}
