footer {
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin:0;
  height: 10vh;
  justify-content: center;
  display: flex;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  margin-right: 20px;
}
