<app-unlogged-header></app-unlogged-header>
<div>
  <app-unlogged-slider></app-unlogged-slider>
  <main>
    <section class="hero">
      <h1>Welcome to NextGenSec</h1>
      <p>Your security is our priority. Discover our innovative solutions.</p>
      <a href="products" class="cta-button">Explore Products</a>
    </section>

    <section class="about">
      <h2>About us</h2>
      <p>Learn more about our commitment to excellence and customer service.</p>
    </section>
  </main>
</div>

<app-footer></app-footer>
