.main-container {
  padding-top: 5vh;
  display: flex;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  padding-right: 6%;
}

.welcome-area, slider-container {
  font-size: 3em;
}

.welcome-area {
  justify-content: center;
  margin-bottom: 8vh;
  padding-left: 6%;
}

.slider-container {
}

.discover-area {
  font-size: 1.5em;
  padding: 20px;
  color: white;
  padding-left: 6%;
  background-color: #80B982;
}

.buttons-area {
  gap: 7%;
}

.buttons-area div {
  font-size: 0.9em;
}

.discover-area-product {
  margin-bottom: 2vh;
}

