<app-unlogged-header></app-unlogged-header>
<div>
  <app-unlogged-slider></app-unlogged-slider>
  <h1 class="section-header">Our company</h1>
  <div class="left-right-container">
    <div class="left-element left-right-element">
      <h5>NextGen generic and simplistic solutions</h5>
      <img src="https://picsum.photos/200/300" alt="samplke imagee" />
    </div>
    <div class="vertical-line"></div>
    <div class="right-element left-right-element">
      <h5>NextGen generic and simplistic solutions</h5>
      <img src="https://picsum.photos/200/300" alt="samplke imagee" />
    </div>
    <div class="left-element left-right-element">
      <h5>NextGen generic and simplistic solutions</h5>
      <img src="https://picsum.photos/200/300" alt="samplke imagee" />
    </div>
    <div class="vertical-line"></div>
    <div class="right-element left-right-element">
      <h5>NextGen generic and simplistic solutions</h5>
      <img src="https://picsum.photos/200/300" alt="samplke imagee" />
    </div>
  </div>
  <h1 class="section-header">Learn more about us <a href="/about">here....</a></h1>
</div>
<app-footer></app-footer>
