<div class="container light-theme-bg slider-container">
  <ul class="slider-images">
    <li *ngFor="let item of slideItems;let i = index">
      <h1 *ngIf="i == counter" @fade class="light-theme-header">{{item.title}}</h1>
      <img  *ngIf="i == counter" @fade [src]="slideItems[i].src" alt="item.title">
    </li>
  </ul>

  <div class="horizontal-container">
    <button (click)="showPreviousImage()">previous</button>

    <ul class="horizontal-container">
      <div *ngFor="let item of slideItems;let i = index">
        <div *ngIf="i == counter" class="slider-dot active" (click)="showImage(i)"></div>
        <div *ngIf="i != counter" class="slider-dot" (click)="showImage(i)"></div>
      </div>
    </ul>

    <button (click)="showNextImage()">next</button>
  </div>
</div>
