.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  background-color: #e9ecef;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-images {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden
}

.slider-dot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.slider-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #dee2e6;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.slider-dot:hover,
.slider-dot.active {
  background: #007bff;
}


.slider-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.slider-button:hover {
  background-color: #0056b3;
}

.clock-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.clock-content {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
