.about-container {
  align-items: center;
  background: #f5f5f6;
}

.about-section {
  max-width: 960px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.section-title {
  color: #333;
  text-align: center;
}

.section-content {
  font-size: 1em;
  line-height: 1.6;
  text-align: justify;
}

.section-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-image {
  max-width: 50%;
  height: auto;
  border-radius: 20px;
  margin: 10px;
}


.reveal {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, visibility 0.6s;
}

.reveal.active {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (max-width: 768px) {
  .section-area {
    flex-direction: column;
  }
}
