<div class="grid-2-container">
  <div class="text-area">
    <h1>About us</h1>
    <span>
      At NextGenSec, we're on a mission to redefine the way the world approaches security.
      We believe that the future of digital and physical protection lies in the power of biometrics,
      and our journey began with a vision to create the most advanced, accessible, and secure AI Fingerprint Recognition technology.
    </span>
  </div>
  <img src="assets/img/aboutus.png" alt="aboutuspng">

  <img src="assets/img/aboutus.png" alt="aboutuspng">
  <div class="text-area">
    <h1>About us</h1>
    <span>
      At NextGenSec, we're on a mission to redefine the way the world approaches security.
      We believe that the future of digital and physical protection lies in the power of biometrics,
      and our journey began with a vision to create the most advanced, accessible, and secure AI Fingerprint Recognition technology.
    </span>
  </div>

  <div class="text-area">
    <h1>About us</h1>
    <span>
      At NextGenSec, we're on a mission to redefine the way the world approaches security.
      We believe that the future of digital and physical protection lies in the power of biometrics,
      and our journey began with a vision to create the most advanced, accessible, and secure AI Fingerprint Recognition technology.
    </span>
  </div>
  <img src="assets/img/aboutus.png" alt="aboutuspng">

  <img src="assets/img/aboutus.png" alt="aboutuspng">
  <div class="text-area">
    <h1>About us</h1>
    <span>
      At NextGenSec, we're on a mission to redefine the way the world approaches security.
      We believe that the future of digital and physical protection lies in the power of biometrics,
      and our journey began with a vision to create the most advanced, accessible, and secure AI Fingerprint Recognition technology.
    </span>
  </div>
</div>
