<app-unlogged-header></app-unlogged-header>
<div class="flex-col about-container">
  <div class="flex-row about-section">
    <div>
      <h1 class="section-title">About us</h1>
      <span class="section-content">
        At NextGenSec, we're on a mission to redefine the way the world approaches security.
        We believe that the future of digital and physical protection lies in the power of biometrics,
        and our journey began with a vision to create the most advanced, accessible, and secure AI Fingerprint Recognition technology.
      </span>
    </div>

    <img src="assets/img/aboutus.png" alt="aboutuspng" class="about-image">
  </div>

  <div class="flex-row about-section reveal">
    <img src="assets/img/aboutus.png" alt="aboutuspng" class="about-image">
    <div>
      <h1 class="section-title">About us</h1>
      <span class="section-content">
        At NextGenSec, we're on a mission to redefine the way the world approaches security.
        We believe that the future of digital and physical protection lies in the power of biometrics,
        and our journey began with a vision to create the most advanced, accessible, and secure AI Fingerprint Recognition technology.
      </span>
    </div>
  </div>

  <div class="flex-row about-section reveal">
    <div>
      <h1 class="section-title">About us</h1>
      <span class="section-content">
        At NextGenSec, we're on a mission to redefine the way the world approaches security.
        We believe that the future of digital and physical protection lies in the power of biometrics,
        and our journey began with a vision to create the most advanced, accessible, and secure AI Fingerprint Recognition technology.
      </span>
    </div>
    <img src="assets/img/aboutus.png" alt="aboutuspng" class="about-image">

  </div>


</div>
<app-footer></app-footer>
